.cards--list{
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;

    width: auto;
    padding: 0;
    margin: 2rem;

    justify-content: space-around;
}

.product--items--container {
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
    grid-auto-flow: row;
    /*margin: 1rem 1rem 1rem 0;*/
    position: relative;
    
    width: 272px;
    height: 336px;
    
    /*min-height: auto;
    min-width: 220px;
    max-height: 400px;
    max-width: 300px;*/
    padding: 1rem 1rem 1rem 1rem;
    
    /* default/shade/white */
    
    background: #FFFFFF;
    /* default/neutral-gray/200 */
    
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    /* shadow-base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.product--name{
    font-style: normal;
    line-height: 22px;

    display: grid;
    align-items: start;

    font-size: 16px;
    opacity: 0.95;
    color: #232323;
}

.product--price{
    align-content: end;
    justify-content: start;
    display: grid;
    font-size: 1.3rem;
    font-weight: 600;
    opacity: 0.9;
    color: #232323;
}

.prescription--label{
    opacity: 0.5;
    font-size: 14px;
}


.product--image{
    /* default/shade/white */
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    margin: 1rem;
}

.product--image > img{
    position: relative;
    width: 200px;
}

.product--items--container--small{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    padding: 10px 10px 10px 10px;

    grid-gap: 20px;

    position: relative;
    width: 426px;
    height: 144px;

    background: #FFFFFF;
    /* default/neutral-gray/200 */

    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    /* shadow-base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.product--image--small{
    display: grid;
    align-content: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.product--image--small > img{
    /*width: 89.08px;
    height: 112px;*/
    width: 100px;
    /*height: 100px;*/
}

.product--small--details{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.product--name--small{
    display: grid;
    
    font-style: normal;
    line-height: 22px;

    display: grid;
    align-items: center;

    font-size: 16px;
    color: #232323;
}

.options--container{
    display: flex;
    padding: 0px;
    margin: 0;

    position: relative;
    max-width: 458px;
    /*width: minmax(fit-content, 458px);*/
    
}

.options--title{
    position: static;
    width: fit-content;
    height: fit-content;
    left: 0px;
    top: 0px;
    /*padding: 5px 5px 5px 5px;*/
    color: #B0B0B0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.options--button--container{
    display: flex;
    flex-direction: column;
    padding: 0px;

    margin: 0 5rem 0 5rem;

    /*position: static;
    width: 207px;
    
    left: 127px;
    top: 0px;*/
}

.options--button{
    background: #FFFFFF;

    border: 2px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 6px;

    outline: none;
    
    width: 202px;
    height: 36px;
    margin-bottom: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    transition: all 0.3s ease-in;
}

.options--button--selected{
    background: #F0FFF4;
    color: #2F855A;

    width: 202px;
    height: 36px;
    margin-bottom: 5px;
    outline: none;

    border: 4px solid #38A169;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    transition: all 0.1s linear;
}

option {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
}

.slideshow--container{
    position: relative;
    width: 438px;
    height: 523.95px;

    display: grid;
    /*flex-direction: row;*/
    grid-auto-flow: row;
    justify-items: center;
}

.current--ss--image--container{
    height: 401.5px;
    width: 438px;
    display: grid;
    align-content: center;
    justify-content: center;

    background: white;
}

.current--ss--image{
    /*position: absolute;*/
    align-self: center;
    /*left: calc(50% - 510.55px/2 - 0.82px);
    top: calc(50% - 321.93px/2 + 0.76px);*/
}

.ss--instructions{
    color: #848484;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    width: 224px;
    height: 16px;
    left: 107px;
    top: 418px;

    margin: 0;
    padding: 0;
}

.ss--reel{
    display: flex;
    flex-direction: row;
    
    padding: 0px;

    width: 324px;
    height: 64px;
    left: 57px;
    top: 454px;

    justify-content: center;
}

.ss--reel--image{
    height: auto;
    width: 50px;
}

.reel--image--container, .ss--current--reel--image{
    margin: 5px;
    width: 64px;
    height: 61.32px;
    background: white;

    border-radius: 8px;

    padding: 5px;

    background: #FFFFFF;

    border: 1px solid #D6D6D6;
    
    box-sizing: border-box;
    border-radius: 8px;

    display: grid;
    place-items: center;
}

.reel--image--container:hover{
    border: 2px solid #02B2D9;
}

.ss--current--reel--image {
    border: 2px solid #02B2D9;
}

.ss--instructions--container{
    width: 224px;
    height: 16px;
}

li {
    font-size: 20px;
    color: #3B3B3B;
}

.list--value{
    font-size: 16px;    
    color: #000000;
}

.product--detail--main{
    display: grid;
    justify-content: center;

    height: auto;
    width: auto;
    
    grid-gap: 35px;
    grid-template-areas:
    "display detail-title"
    "display configuration"
    "display quantity"
    "suggestions suggestions"
    "description description"
    "compare compare";
}

.display {
    grid-row: span 3;
}

.detail-title{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: start;
    border-bottom: solid 1px grey;

}

.configuration{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    width: fit-content;
}

.quantity{
    display:grid;
    place-items: center;
    height: 164px;
    background: #F7F7F7;
    /* default/neutral-gray/400 */

    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 12px;
}

.suggestions{
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    grid-column: span 2;
    width: auto;
    height: 268px;
    /*padding: 20px;*/

    /* default/neutral-gray/100 */
    border-top: 1px solid #D6D6D6;
    background: #F7F7F7;
}

.description {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: span 2;
    margin-left: 2.5rem;
}

.compare{
    grid-column: span 2;
    /*width: 936px;*/
    width: auto;
    height: 622px;
    padding: 30px;
    /* default/neutral-gray/100 */
    display: grid;
    align-items: center;
    background: #F7F7F7;
}

.detail--title--text{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    font-family: Inter, sans-serif;
    font-style: normal;
    color: #232323;
}

.detail-price{
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
   
    width: 100%;

    display: grid;
    
    grid-template-columns: auto 1fr;
    align-items: end;

    margin: 0;
    padding: 0 0 15px 0;
}

.detail-price--label{
    color: #B0B0B0;
    font-size: 16px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}


.detail-price--number{
    color: #3182CE;
    font-size: 24px;
    line-height: 24px;

    margin: 0 6rem 0 6rem;
}

.separator{
    position: absolute;
    width: 458px;
    height: 1px;
    left: 510px;
    top: 110px;

    /* default/neutral-gray/500 */

    background: #B0B0B0;
}

.detail--avail{
    font-size: 16px;
    /* default/blue/600 */

    font-style: normal;
    font-weight: 600;
   
    width: 100%;

    display: grid;
    
    grid-template-columns: auto 1fr;
    align-items: center;
}

.detail--avail--label{
    color: #B0B0B0;
    font-size: 16px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.detail--avail--value{

    font-size: 16px;
    line-height: 16px;
    font-weight: bold;

    /* identical to box height, or 100% */

    align-items: center;

    margin: 0 0 0 3rem;
    padding: 5px 5px 5px 5px;

    /* default/green/600 */

    color: #38A169;
}

.detail--selection--value{
    margin-left: 65px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    /* default/neutral-gray/900 */

    color: #232323;
}

.quantity--content{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;

    width: 202px;
    height: 108px;

    justify-content: space-between;
}

.addtocart{
    background: #ED8936;
    box-shadow: 0px 4px 6px rgba(156, 66, 33, 0.12), 0px 2px 4px rgba(237, 137, 54, 0.32);
    border-radius: 6px;
    width: 202px;
    height: 36px;
    font-weight: 600;
    border: 0;

    outline: none;

    font-style: normal;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.quantity--input{
    width: 202px;
    height: 36px;

    /* default/shade/white */

    background: #FFFFFF;
    /* default/neutral-gray/500 */

    border: 3px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    outline: none;

    padding-left: 10px;
    -webkit-appearance: none;

}

.chevy {
    position: relative;
    top: 47px;
    left: 175px;
    width: 12px;

    pointer-events: none;
}


.quantity--content > label {
    width: 70px;
    height: 16px;

    /* 16/medium */

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    /* default/neutral-gray/700 */

    color: #595959;
}

.quantity--content > * {
    margin-bottom: 0;
}

.sugg--label{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #232323;

    height: auto;
    width: auto;

    padding: 0;
    margin: 0 0 0 2.5rem;
    place-self: end start;
}

.description h1{
    font-weight: 300;
}

.description h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    margin-top: 3rem;
}

.description p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.key--benefits{
    margin: 1.5rem;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}

.compare > h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;

    color: #000000;
}

.product--video{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    display: grid;
    place-items: center;
}

.product--video > * {
    grid-row: 1;
    grid-column: 1;
}

.video--thumbnail{
    width: 226px;
    height: 128px;
    padding:0;
    margin: 0;
}

.video--container{
    width: 258px;
    height: 160px;

    display: grid;
    place-content: center;

    /* default/neutral-gray/200 */

    background: #F2F2F2;
    /* default/neutral-gray/300 */

    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    /* shadow-inner */

    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);

    margin: 30px;
}

.compare--products{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: end;
    align-self: center;
}

.compare--prod--container{
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    max-width: 272px;
    grid-gap: 25px;
}

.compare--title{
    text-align: center;
    text-justify: center;
}

.our--price{
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
    /* identical to box height, or 100% */
    text-align: center;

    color: #04ABD0;
    
    text-shadow: 0px 1px 3px grey;
}

.compare--prod--container.middle .product--items--container{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}